.data-local {
	padding-top: 2rem;
}

.invalido { 
	color: red; 
	border: 2px solid red;
}

.error{
	color: red;
}

.ordena {
	padding: 1.5rem;
}

.cabecalho-grid {
	align-items: center;
	justify-content: space-between;
}

/*#myDIV {
	height: 15em;
}

.evento {
	height: 90%;
}*/

.evento:nth-child(3n) {
	margin-right: 0;
}

.evento:nth-child(3n+1) {
	margin-left: 0;
}