main {
	font-family: serif;
}

footer {
	margin-top: 1.25em;
}

main h1 {
	font-family: "Aguafina Script", serif;
	text-align: center;
	color: #ffc40d;
	font-size: 300%;
}

main a {
	font-family: serif;
}

footer a {
	font-family: serif;
}

button {
	box-shadow: none;
}

a:hover {
	text-decoration: none;
}

.evento {
	background-color: red;
	border-color: red;
	margin-top: 30px;
	text-align: center;
	font-family: serif;
}

.evento-detalhes {
	margin: 0 auto;
}

.botao-evento {
	display: inline-block;
}

.card {
	border-radius: 0;
}

.col-auto {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}