header {
	padding-bottom: 2.5rem;
}

.principal {
	font-size: 400%;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 4.5rem;
	padding-bottom: 2.5rem;
}

.titulo-migalha {
	font-family: 'Ubuntu', sans-serif;
}

.panel-body {
	padding-top:30px;
}

.row.login {
	justify-content: center;
}

.legenda-sus {
	justify-content: space-between;
	text-align: center;
}

.tarefa {
	margin-bottom: 0;
}

.btn{
	text-transform: uppercase;
    letter-spacing: .025em;
}