.btn,.btn:hover,.btn:focus {
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled){
  cursor: default;
}

.ec0,#ec0 {
  border-radius: 0;
}

#ec1 {
  border-top-left-radius: 0;
}

.ec1.t1 {
  border-bottom-left-radius: 0;
}