.btn,.btn:hover,.btn:focus {
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled){
  cursor: default;
}

.ec0,#ec0,.ec1,#ec1 {
  border-radius: 0;
}

.migalha-container {
  justify-content: center;
}