@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>UsabilidadeZero - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet" media="screen">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        @styles
    </head>
    <body>
    	<header class="navbar navbar-default">
    		<div class="container">
	    		<div class="row">
	    			<div class="col-md-2">
			    		<h1>Tarefa 1</h1>
	    			</div>
	    			<div class="col-md-8">
	    				<p>Você deve descobrir o valor de inscrição do próximo "Simpósio Brasileiro de Fatores Humanos em Sistemas Computacionais</p>
	    			</div>
	    			<div class="col-md-2 text-right">
	    				<a href="#"><button class="btn btn-primary">Concluir</button></a>
	    				<a href="#"><button class="btn btn-danger">Desistir</button></a>
	    			</div>
	    		</div>
    		</div>
		</header>
        <div class="container">
            @content
        </div>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.versioned("js/jquery-3.3.1.min.js")"></script>
<!--         <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script> -->
        @scripts
    </body>
</html>
