@(tarefa: Tarefa, tarefaForm: Form[Tarefa], evento: Evento)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
<link href="@routes.Assets.versioned("css/estudo0.css")" rel="stylesheet" media="screen">
}

@mainEstudo(tarefa, tarefaForm, styles) {
<div>
	<h1>Portal de Eventos</h1>
	<p>@session.get("cliques")</p>
	<div class="container">
		<div class="thumbnail evento-detalhes">
			<div class="caption">
				<h3>@evento.getSigla()</h3>
				@Html(evento.getDescricao())
				<p class="text-center">
					@b4.formCSRF(routes.ControladorEventos.mostrarParticipe,
						'class -> "form-horizontal botao-evento", 
						'role -> "form") {

						@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
						@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
							
						<input type="submit" value="Participe">
					} 

					@b4.formCSRF(routes.ControladorEventos.mostrarPrograma,
						'class -> "form-horizontal botao-evento", 
						'role -> "form") {

						@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
						@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
							
						<input type="submit" value="Programa">
					} 

					@b4.formCSRF(routes.ControladorEventos.mostrarLocal,
						'class -> "form-horizontal botao-evento", 
						'role -> "form") {

						@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
						@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
							
						<input type="submit" value="Local">
					} 

					@b4.formCSRF(routes.ControladorEventos.mostrarInformacoes,
						'class -> "form-horizontal botao-evento", 
						'role -> "form") {

						@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
						@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
							
						<input type="submit" value="Mais Informações">
					} 

					@b4.formCSRF(routes.ControladorEventos.mostrarPagamento,
						'class -> "form-horizontal botao-evento", 
						'role -> "form") {

						@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
						@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
							
						<input type="submit" value="Pagamento">
					} 
				</p>
			</div>
		</div>
	</div>
</div>
}

