@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>UsabilidadeZero - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        @styles
    </head>
    <body>
    	<header class="navbar navbar-default">
    		<div class="container">
	    		<div class="row">
	    			<div class="col-md-2">
			    		<h2>Tarefa 1</h2>
	    			</div>
	    			<div class="col-md-8">
	    				<h4>Você deve descobrir o valor de inscrição do próximo 
	    				"Simpósio Brasileiro de Fatores Humanos em Sistemas Computacionais</h4>
	    			</div>
	    			<div class="col-md-2 text-right">
	    				<a href="#"><button class="btn btn-success">Concluir</button></a>
	    				<a href="#"><button class="btn btn-danger">Desistir</button></a>
	    			</div>
	    		</div>
    		</div>
		</header>
		@content
		<script src="@routes.Assets.versioned("js/jquery-3.3.1.min.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        @scripts
    </body>
</html>
