@(tarefa: Tarefa, tarefaForm: Form[Tarefa], nomeEvento: String, programa: String)

@styles = {
    <link href="@routes.Assets.versioned("css/outros/album.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
	<link href="@routes.Assets.versioned("css/estudo1.css")" rel="stylesheet" media="screen">
}

@mainEstudo(tarefa, tarefaForm, styles) {

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">@nomeEvento</h1>	
	</div>
</section>

<div class="container w-50">
	<div class="text-justify">
		@Html(programa)
	</div>
</div>
}

