@(tarefa: Tarefa, tarefaForm: Form[Tarefa], inscricaoForm: Form[Inscricao], evento: Evento)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-4", "col-8") }

@styles = {
	<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
	<link href="@routes.Assets.versioned("css/estudo0.css")" rel="stylesheet" media="screen">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/mascaras.js")"></script>
	<script src="@routes.Assets.versioned("js/validacao.js")"></script>
	<script src="@routes.Assets.versioned("js/formulario.js")"></script>
}
							
@valores = @{ Seq(
	"true"->("R$ " + evento.getPreco.toString), 
	"true"->("2 x R$ " + (evento.getPreco/2).toString) 
)}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {
<div>
	<h1>Portal de Eventos</h1>
	<div class="container w-50">
		<div class="caption">
			<h3>@evento.getSigla()</h3>
				<div class="col-md-12">
			<p class="text-center">
				@b4.formCSRF(routes.ControladorEstudos.fazerInscricao,
					'id -> "form-inscricao",
					'class -> "form-horizontal", 
					'role -> "form") {

					@b4.hidden( "id-evento", evento.getId, 'class -> "valido" )

					@b4.hidden( inscricaoForm("tarefa"), 
						'class -> "valido", 
						'value -> tarefa.getId )
					@b4.hidden( inscricaoForm("evento"), 
						'class -> "valido", 
						'value -> evento.getId )

					<div class="form-group row" id="nome_field">
						<label class="col-form-label col-4">NOME:</label>
						<div class="col-8">
						    <input type="text" id="nome" name="nome" tabindex="-1" required="true">
						</div>
					</div>
					<div class="form-group row" id="email_field">
						<label class="col-form-label col-4">EMAIL:</label>
						<div class="col-8">
						    <input type="text" id="email" name="email" tabindex="-1" required="true">
						</div>
					</div>
					<div class="form-group row" id="fone_field">
						<label class="col-form-label col-4">Fone:</label>
						<div class="col-8">
						    <input type="text" id="fone" name="fone" tabindex="-1">
						</div>
					</div>
					<div class="form-group row" id="cpf_field">
						<label class="col-form-label col-4">CPF:</label>
						<div class="col-8">
						    <input type="text" id="cpf" name="cpf" tabindex="-1" required="true">
						</div>
					</div>
					<div class="form-group row" id="endereco_field">
						<label class="col-form-label col-4">Endereço:</label>
						<div class="col-8">
						    <input type="text" id="endereco" name="endereco" tabindex="-1">
						</div>
					</div>
					<div class="form-group row" id="cidade_field">
						<label class="col-form-label col-4">Cidade:</label>
						<div class="col-8">
						    <input type="text" id="cidade" name="cidade" tabindex="-1">
						</div>
					</div>
					<div class="form-group row" id="numCartao_field">
						<label class="col-form-label col-4"># CARTÃO:</label>
						<div class="col-8">
						    <input type="text" id="numCartao" name="numCartao" tabindex="-1" required="true">
						</div>
					</div>
					<div class="form-group row" id="titularCartao_field">
						<label class="col-form-label col-4">TITULAR DO CARTÃO:</label>
						<div class="col-8">
						    <input type="text" id="titularCartao" name="titularCartao" tabindex="-1" required="true">
						</div>
					</div>
					<div class="form-group row" id="validade_field">
						<label class="col-form-label col-4">VALIDADE:</label>
						<div class="col-8">
						    <input type="text" id="validade" name="validade" tabindex="-1" required="true">
						</div>
					</div>
					<div class="form-group row" id="codigoSeguranca_field">
						<label class="col-form-label col-4">CVV:</label>
						<div class="col-8">
						    <input type="text" id="codigoSeguranca" name="codigoSeguranca" tabindex="-1" required="true">
						</div>
					</div>
					<div class="form-group row" id="valor_field">
						<label class="col-form-label col-4">FORMA DE PAGTO:</label>
						<div class="col-8">
						    <select id="valor" name="valor" tabindex="-1" required="true">
						    	<option class="blank" selected="true" disabled="disabled">Selecione o número de parcelas</option>
						    	<option value="true">@("R$ " + evento.getPreco.toString)</option>
						    	<option value="true">@("2 x R$ " + (evento.getPreco/2).toString)</option>
						    </select>
						</div>
					</div>
						
					<input type="submit" id="botao-inscricao" value="Participe" tabindex="-1">
				} 
			</p>
		</div>
	</div>
</div>
}

