@(tarefa: Tarefa, tarefaForm: Form[Tarefa], inscricaoForm: Form[Inscricao], evento: Evento)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-4", "col-8") }

@styles = {
	<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
	<link href="@routes.Assets.versioned("css/estudo0.css")" rel="stylesheet" media="screen">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/validacao.js")"></script>
	<script src="@routes.Assets.versioned("js/formulario.js")"></script>
}
							
@valores = @{ Seq(
	"true"->("R$ " + evento.getPreco.toString), 
	"true"->("2 x R$ " + (evento.getPreco/2).toString) 
)}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {
<div class="container w-50">
	<h1>Portal de Eventos</h1>
		<div class="caption">
			<h3 class="sigla">@evento.getSigla()</h3>
				<div class="col-md-12">
			<p class="text-center">
				@b4.formCSRF(routes.ControladorEventos.fazerInscricao,
					'id -> "form-inscricao",
					'class -> "form-horizontal formulario", 
					'role -> "form",
					'autocomplete -> "off") {

					@b4.hidden( "id-evento", evento.getId, 'class -> "valido" )
					@b4.hidden( "data-evento", evento.getData, 'class -> "valido" )

					@b4.hidden( inscricaoForm("tarefa"), 
						'class -> "valido", 
						'value -> tarefa.getId )
					@b4.hidden( inscricaoForm("evento"), 
						'class -> "valido", 
						'value -> evento.getId )

					<div class="form-group row" id="nome_field">
						<label class="col-form-label col-4"><u>Nome:</u></label>
						<div class="col-8">
						    <input type="text" id="nome" name="nome" class="campo ob" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="email_field">
						<label class="col-form-label col-4"><u>Email:</u></label>
						<div class="col-8">
						    <input type="text" id="email" name="email" class="campo ob" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="fone_field">
						<label class="col-form-label col-4">Fone:</label>
						<div class="col-8">
						    <input type="text" id="fone" name="fone" class="campo" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="cpf_field">
						<label class="col-form-label col-4"><u>CPF:</u></label>
						<div class="col-8">
						    <input type="text" id="cpf" name="cpf" class="campo ob" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="endereco_field">
						<label class="col-form-label col-4">Endereço:</label>
						<div class="col-8">
						    <input type="text" id="endereco" name="endereco" class="campo" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="cidade_field">
						<label class="col-form-label col-4">Cidade:</label>
						<div class="col-8">
						    <input type="text" id="cidade" name="cidade" class="campo" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="numCartao_field">
						<label class="col-form-label col-4"><u># Cartão:</u></label>
						<div class="col-8">
						    <input type="text" id="numCartao" name="numCartao" class="campo ob" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="titularCartao_field">
						<label class="col-form-label col-4"><u>Titular do Cartão:</u></label>
						<div class="col-8">
						    <input type="text" id="titularCartao" name="titularCartao" class="campo ob" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="validade_field">
						<label class="col-form-label col-4"><u>Validade:</u></label>
						<div class="col-8">
						    <input type="text" id="validade" name="validade" class="campo ob" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="codigoSeguranca_field">
						<label class="col-form-label col-4"><u>CVV:</u></label>
						<div class="col-8">
						    <input type="text" id="codigoSeguranca" name="codigoSeguranca" class="campo ob" tabindex="-1" autocomplete="off">
						</div>
					</div>
					<div class="form-group row" id="valor_field">
						<label class="col-form-label col-4"><u>Forma de Pagto:</u></label>
						<div class="col-8">
						    <select id="valor" name="valor" class="campo ob invalido" tabindex="-1">
						    	<option hidden selected value>Selecione o número de parcelas</option>
						    	<option value="true">@("R$ " + evento.getPreco.toString)</option>
						    	<option value="true">@("2 x R$ " + (evento.getPreco/2).toString)</option>
						    </select>
						</div>
					</div>
						
					<input type="submit" id="botao-inscricao" class="tela-sequencia" value="Participe" tabindex="-1">
				} 
			</p>
		</div>
	</div>
</div>
}

