@(tarefa: Tarefa, evento: Evento, data: String)

@styles = {
<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
<link href="@routes.Assets.versioned("css/estudoDeCaso0.css")" rel="stylesheet" media="screen">
}

@mainEstudo("Tarefa 1", tarefa, styles) {
<main>
	<h1>Portal de Eventos</h1>
	<div class="container evento-detalhes">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="thumbnail evento-detalhes">
				<div class="caption">
					<h3>@evento.getSigla</h3>
					
					<p>Os pagamentos podem ser efetuados via cartão de crédito [Visa/MasterCard], cartão de débito, boleto bancário ou nota de empenho. Outras questões ou solicitações devem ser enviadas por email.</p>

					<p>Os pagamentos por boleto e débito encerram-se no dia @data, após esse período estarão disponíveis as formas de pagamento por cartão de crédito, nota de empenho e faturamento. Caso não possa efetuar o pagamento pelas formas citadas, poderá efetuar o pagamento em espécie na secretaria do evento.</p>

					<p>Importante: sócios da SBC têm desconto especial na inscrição para o @evento.getSigla, além de muitos outros benefícios como: desconto em inscrições em outros mais de quarenta eventos promovidos anualmente pela SBC, desconto para a compra de publicações da SBC e livros da Editora Campus/Elsevier, acesso às listas de discussão mantidas pela sociedade, recebimento da revista Computação Brasil e acesso irrestrito à Biblioteca Digital e às revistas eletrônicas mantidas pela SBC, entre muitos outros. Se você ainda não é sócio da SBC, associe-se agora mesmo clicando <a href="http://www.sbc.org.br">aqui</a>.</p>

				</div>
			</div>
		</div>
	</div>
</main>
}

