@(tarefa: Tarefa, tarefaForm: Form[Tarefa], eventos: List[Evento])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
	<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
	<link href="@routes.Assets.versioned("css/estudo0.css")" rel="stylesheet" media="screen">
}

@scripts = {
}

@mainEstudo("Tarefa 1", tarefa, tarefaForm, styles, scripts) {
<div>
	<h1>Portal de Eventos</h1>
	<div class="container w-50">
		<div class="row">
			@for(evento <- eventos) {
				<div class="col-3"> 
					@b4.formCSRF(routes.ControladorEventos.detalhar, 
						'id -> "tarefaform", 
						'role -> "form") {

						@b4.hidden( tarefaForm("cliques"), 'name -> "cliques", 'value -> tarefa.getCliques )
						@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
						@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
							
						<input type="submit" value="@evento.getSigla" class="card card-body mb-4 w-100 evento">
					}
				</div>
			}
		</div>
		<div class="row text-center rodape">
			<div class="col-auto">
				<a href="#">Sobre</a>
			</div>
			<div class="col-auto"><p>|</p></div>
			<div class="col-auto">
				<a href="#">Contato</a>
			</div>
			<div class="col-auto"><p>|</p></div>
			<div class="col-auto">
				<a href="#">Endereço</a>
			</div>
			<div class="col-auto"><p>|</p></div>
			<div class="col-auto">
				<a href="#">Certificados</a>
			</div>
			<div class="col-auto"><p>|</p></div>
			<div class="col-auto">
				<a href="#">Siga-nos nas redes sociais</a>
			</div>
		</div>
	</div>
</div>
}