@(tarefa: Tarefa, tarefaForm: Form[Tarefa], evento: Evento)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@styles = {
<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
<link href="@routes.Assets.versioned("css/estudo0.css")" rel="stylesheet" media="screen">
}

@mainEstudo("Tarefa 1", tarefa, tarefaForm, styles) {
<div>
	<h1>Portal de Eventos</h1>
	<p>@session.get("cliques")</p>
	<div class="container evento-detalhes">
		<div class="col-md-6 col-md-offset-3">
			<div class="thumbnail evento-detalhes">
				<div class="caption">
					<h3>@evento.getSigla()</h3>
					@Html(evento.getDescricao())
					<p class="text-center">
						@b3.formCSRF(routes.ControladorEventos.mostrarParticipe,
							'class -> "form-horizontal botao-evento", 
							'role -> "form") {

							@b3.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b3.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<input type="submit" value="Participe" class="btn btn-primary">
						} 

						@b3.formCSRF(routes.ControladorEventos.mostrarPrograma,
							'class -> "form-horizontal botao-evento", 
							'role -> "form") {

							@b3.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b3.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<input type="submit" value="Programa" class="btn btn-success">
						} 

						@b3.formCSRF(routes.ControladorEventos.mostrarLocal,
							'class -> "form-horizontal botao-evento", 
							'role -> "form") {

							@b3.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b3.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<input type="submit" value="Local" class="btn btn-info">
						} 

						@b3.formCSRF(routes.ControladorEventos.mostrarInformacoes,
							'class -> "form-horizontal botao-evento", 
							'role -> "form") {

							@b3.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b3.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<input type="submit" value="Mais Informações" class="btn btn-warning">
						} 

						@b3.formCSRF(routes.ControladorEventos.mostrarPagamento,
							'class -> "form-horizontal botao-evento", 
							'role -> "form") {

							@b3.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b3.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<input type="submit" value="Pagamento" class="btn btn-danger">
						} 
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
}

