@(tarefa: Tarefa, tarefaForm: Form[Tarefa], eventos: List[Evento])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link href="@routes.Assets.versioned("css/outros/album.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("css/estudo1.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/filtro.js")"></script>
	<script src="@routes.Assets.versioned("js/outros/isotope.pkgd.min.js")"></script>
}

@import java.util.Calendar

@dataCalculada(data: Integer) = @{	
	
	val hoje = Calendar.getInstance(TimeZone.getDefault());
	val dia = (hoje.get(Calendar.DAY_OF_YEAR) + data) % 30;
	val mes = ((hoje.get(Calendar.DAY_OF_YEAR) + data) / 30) + 1;
	val ano = hoje.get(Calendar.YEAR);
	
	Integer.toString(dia) +	" a " +
			Integer.toString(dia + 2) + 
			"/" + Integer.toString(mes) +
			"/" + Integer.toString(ano);
}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Portal de Eventos</h1>		
	</div>
</section>

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row col-8">
			<label class="col-auto col-form-label" for="input-filtro">Pesquisar eventos: </label>
			<div class="col">
				<input class="form-control" id="input-filtro" type="text" placeholder="Filtrar eventos">
			</div>
		</div>
		<div class="row cabecalho-grid">
			<div>
				<h2>Próximos Eventos</h2>
			</div>
			<div class="ordena">
				<h5 class="text-center">Ordenar Eventos</h5>
				<div class="row">
					<div class="categorias-proximos btn-group mx-auto" role="group">
						<button class="btn btn-secondary" data-sort-value="original-order">Data</button>
						<button class="btn btn-secondary" data-sort-value="sigla">Sigla</button>
						<button class="btn btn-secondary" data-sort-value="nome">Nome</button>
						<button class="btn btn-secondary" data-sort-value="local">Local</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row grid-proximos">
			@for(evento <- eventos) {
				@if(evento.getData >= 0) {
					<div id="myDIV" class="col-md-4">
						@b4.formCSRF(routes.ControladorEventos.detalhar, 
							'id -> "tarefaform", 
							'role -> "form") {

							@b4.hidden( tarefaForm("cliques"), 'name -> "cliques", 'value -> tarefa.getCliques )
							@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<button type="submit" class="card card-body mb-4 w-100 box-shadow">
								<h5 class="card-title sigla">@evento.getSigla</h5>
								<p class="card-text nome">@evento.getNome</p>
								<p><small class="text-muted local">@evento.getLocal</small></p>
								<p><small class="text-muted data-evento">@dataCalculada(evento.getData)</small></p>
							</button>
						}
					</div>
				}
			}
		</div>
		<div class="row cabecalho-grid">
			<div>
				<h2>Eventos Passados</h2>
			</div>
			<div class="ordena">
				<h5 class="text-center">Ordenar Eventos</h5>
				<div class="row">
					<div class="categorias-passados btn-group mx-auto" role="group">
						<button class="btn btn-secondary" data-sort-value="original-order">Data</button>
						<button class="btn btn-secondary" data-sort-value="sigla">Sigla</button>
						<button class="btn btn-secondary" data-sort-value="nome">Nome</button>
						<button class="btn btn-secondary" data-sort-value="local">Local</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row grid-passados">
			@for(evento <- eventos) {
				@if(evento.getData < 0) {
					<div id="myDIV" class="col-md-4">
						@b4.formCSRF(routes.ControladorEventos.detalhar, 
							'id -> "tarefaform", 
							'role -> "form") {

							@b4.hidden( tarefaForm("cliques"), 'name -> "cliques", 'value -> tarefa.getCliques )
							@b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b4.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<button type="submit" class="card card-body mb-4 w-100 box-shadow">
								<h5 class="card-title sigla">@evento.getSigla</h5>
								<p class="card-text nome">@evento.getNome</p>
								<p><small class="text-muted local">@evento.getLocal</small></p>
								<p><small class="text-muted data-evento">@dataCalculada(evento.getData)</small></p>
							</button>
						}
					</div>
				}
			}
		</div>
	</div>
</div>
}