@(tarefa: Tarefa, tarefaForm: Form[Tarefa], evento: Evento, inscricaoForm: Form[Inscricao], data: String)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link href="@routes.Assets.versioned("css/outros/album.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
	<link href="@routes.Assets.versioned("css/estudo1.css")" rel="stylesheet" media="screen">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/mascaras.js")"></script>
	<script src="@routes.Assets.versioned("js/validacao.js")"></script>
	<script src="@routes.Assets.versioned("js/formulario.js")"></script>
}
							
@valores = @{ Seq(
	"true"->("R$ " + evento.getPreco.toString), 
	"true"->("2 x R$ " + (evento.getPreco/2).toString) 
)}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">@evento.getNome</h1>		
		<div class="row text-center data-local">
			<div class="col">
				<div class="card card-body">
					<p><i class="far fa-calendar"></i> @data</p>
				</div>				
			</div>
			<div class="col">
				<div class="card card-body">
					<p><i class="fas fa-map-marker-alt"></i> @evento.getLocal</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="d-none d-lg-block col-md-2 sidebar-evento">
			<ul class="section-nav" id="opcoes-tab">
				<li class="nav-item">
					<a class="nav-link active" id="o-evento-tab" href="#o-evento">Apresentação</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" id="programa-tab" href="#programa">Programação</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" id="informacao-tab" href="#informacao">Informações</a>
				</li>
				@if(evento.getData > 0) {
					<li class="nav-item">
						<a class="nav-link" id="inscricao-tab" href="#inscricao">Inscrição</a>
					</li>
				} else {
					<li class="nav-item">
						<a class="nav-link" id="certificado-tab" href="#certificado">Certificado</a>
					</li>
				}
			</ul>
		</div>
		<div class="col-12 col-lg-10 py-md-3 pl-md-5 conteudo-evento" id="conteudo">
			<div id="o-evento">
				<h5>Apresentação</h5>
				@Html(evento.getDescricao())
			</div>
			<div id="programa">
				<h5>Programação</h5>
				@Html(evento.getPrograma)
			</div>
			<div id="informacao">
				<h5>Outras informações</h5>
				@Html(evento.getInformacoes)
			</div>
			@if(evento.getData > 0) {

				<div id="inscricao">
					<h5>Inscrição</h5>
					<div class="row text-center">
						<div class="col">
							<div class="card card-body">
								<p><i class="fas fa-dollar-sign"></i> @evento.getPreco</p>
							</div>
						</div>
					</div>	
									
					<p>Os pagamentos podem ser efetuados via cartão de crédito [Visa/MasterCard], cartão de débito, boleto bancário ou nota de empenho. Outras questões ou solicitações devem ser enviadas por email.</p>

					<p>Os pagamentos por boleto e débito encerram-se no dia @data, após esse período estarão disponíveis as formas de pagamento por cartão de crédito, nota de empenho e faturamento. Caso não possa efetuar o pagamento pelas formas citadas, poderá efetuar o pagamento em espécie na secretaria do evento.</p>

					<p>Importante: sócios da SBC têm desconto especial na inscrição para o @evento.getSigla, além de muitos outros benefícios como: desconto em inscrições em outros mais de quarenta eventos promovidos anualmente pela SBC, desconto para a compra de publicações da SBC e livros da Editora Campus/Elsevier, acesso às listas de discussão mantidas pela sociedade, recebimento da revista Computação Brasil e acesso irrestrito à Biblioteca Digital e às revistas eletrônicas mantidas pela SBC, entre muitos outros. Se você ainda não é sócio da SBC, associe-se agora mesmo clicando <a target="_blank" rel="noopener noreferrer" href="http://www.sbc.org.br">aqui</a>.</p>

					@b4.formCSRF(routes.ControladorEventos.mostrarInscricao,
						'role -> "form") {

						@b4.hidden( "id-evento", evento.getId, 'class -> "valido" )

						@b4.hidden( inscricaoForm("tarefa"), 'value -> tarefa.getId )
						@b4.hidden( inscricaoForm("evento"), 'value -> evento.getId )
						@b4.hidden( inscricaoForm("valor"), 'value -> "true", '_id -> "valor")
							
						<input type="button" id="botao-voltar" value="Voltar" class="btn btn-danger" onclick="goBack()">
						<input type="submit" value="Participe" class="btn btn-primary">
					} 
				</div>

			} else {

				<div id="certificado">
					<h5>Certificado</h5>

					@b4.formCSRF(routes.ControladorEventos.mostrarCertificado,
						'role -> "form") {

						@b4.hidden( "id-evento", evento.getId, 'class -> "valido" )

						@b4.hidden( inscricaoForm("tarefa"), 'value -> tarefa.getId )
						@b4.hidden( inscricaoForm("evento"), 'value -> evento.getId )
						@b4.hidden( inscricaoForm("valor"), 'value -> "true", '_id -> "valor")

						<div class="form-group" id="cpf_field">
							<label for="cpf">CPF*</label>
						    <input type="text" id="cpf" name="cpf" value="" aria-describedby="cpf_info_0" class="form-control ob" placeholder="Informe o número do seu CPF">
							<small id="cpf_info_0" class="form-text no-error">Informe o seu CPF digitando apenas números.</small>
						</div>
							
						<input type="button" id="botao-voltar" value="Voltar" class="btn btn-danger" onclick="goBack()">
						<input type="submit" value="Gerar Certificado" class="btn btn-primary">
					} 
				</div>
			}
		</div>
	</div>
</div>
}

