@(tarefa: Tarefa, tarefaForm: Form[Tarefa], inscricaoForm: Form[Inscricao], evento: Evento)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link href="@routes.Assets.versioned("css/outros/album.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
	<link href="@routes.Assets.versioned("css/estudo1.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/mascaras.js")"></script>
	<script src="@routes.Assets.versioned("js/validacao.js")"></script>
	<script src="@routes.Assets.versioned("js/formulario.js")"></script>
}
							
@valores = @{ Seq(
	"true"->("R$ " + evento.getPreco.toString), 
	"true"->("2 x R$ " + (evento.getPreco/2).toString) 
)}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">@evento.getNome</h1>	
	</div>
</section>

<div class="container col-12 col-sm-10 col-md-8 col-lg-6">
	<h1 class="text-center">Inscrição</h1>
	<p hidden="true" class="sigla">@evento.getSigla</p>
	<div class="row text-center">
		<div class="col">
			<div class="card card-body">
				<p><i class="fas fa-dollar-sign"></i> @evento.getPreco</p>
			</div>
		</div>
	</div>	
	@b4.formCSRF(routes.ControladorEstudos.fazerInscricao,
		'id -> "form-inscricao",
		'role -> "form") {

		@b4.hidden( "id-evento", evento.getId )

		@b4.hidden( inscricaoForm("tarefa"), 'value -> tarefa.getId )
		@b4.hidden( inscricaoForm("evento"), 'value -> evento.getId )

		<h4 class="mb-3">Participante</h4>

		<div class="form-group" id="nome_field">
			<label for="nome">Nome*</label>
		    <input type="text" id="nome" name="nome" value="" aria-describedby="nome_info_0" class="form-control ob" placeholder="Escreva o seu nome completo">
			<small id="nome_info_0" class="form-text no-error">Escreva o seu nome completo.</small>
		</div>

		<div class="form-group" id="email_field">
			<label for="email">Email*</label>
		    <input type="email" id="email" name="email" value="" aria-describedby="email_info_0" class="form-control ob" placeholder="nome&#64;exemplo.com">
			<small id="email_info_0" class="form-text no-error">Insira um email válido no seguinte formato: "nome&#64;exemplo.com".</small>
		</div>

		<div class="form-group" id="cpf_field">
			<label for="cpf">CPF*</label>
		    <input type="text" id="cpf" name="cpf" value="" aria-describedby="cpf_info_0" class="form-control ob" placeholder="Informe o número do seu CPF">
			<small id="cpf_info_0" class="form-text no-error">Informe o seu CPF digitando apenas números.</small>
		</div>

		<h4 class="mb-3">Pagamento</h4>
		<div class="row">
			<div class="col-8">
				<div class="form-group" id="numCartao_field">
					<label for="numCartao">Número do Cartão*</label>
				    <input type="text" id="numCartao" name="numCartao" value="" aria-describedby="numCartao_info_0" class="form-control ob">
					<small id="numCartao_info_0" class="form-text no-error">Insira um número de cartão válido.</small>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group" id="validade_field">
					<label for="validade">Validade*</label>
				    <input type="text" id="validade" name="validade" value="" class="form-control ob">
					<small id="validade_info_0" class="form-text no-error">Informe a validade do cartão.</small>
				</div>
			</div>
		</div>
		<div class="row"> 
			<div class="col-8">
				<div class="form-group" id="titularCartao_field">
					<label for="titularCartao">Titular do Cartão*</label>
				    <input type="text" id="titularCartao" name="titularCartao" value="" class="form-control ob">
					<small id="titularCartao_info_0" class="form-text no-error">Insira um número válido.</small>
				</div> 
			</div>
			<div class="col-4">
				<div class="form-group" id="codigoSeguranca_field">
					<label for="codigoSeguranca">Código de Segurança*</label>
				    <input type="text" id="codigoSeguranca" name="codigoSeguranca" value="" class="form-control ob">
					<small id="codigoSeguranca_info_0" class="form-text no-error">Insira um número válido.</small>
				</div> 
			</div>
		</div>
		<div class="form-group" id="valor_field">
			<label class="col-form-label">Número de parcelas*</label>
		    <select id="valor" name="valor" class="form-control campo ob">
		    	<option hidden selected value>Selecione o número de parcelas</option>
		    	<option value="true">@("R$ " + evento.getPreco.toString)</option>
		    	<option value="true">@("2 x R$ " + (evento.getPreco/2).toString)</option>
		    </select>
			<small id="valor_info_0" class="form-text no-error">Escolha o número de parcelas.</small>
		</div>
			
		<input type="button" id="botao-voltar" value="Voltar" class="btn btn-danger" onclick="goBack()">
		<input type="reset" id="botao-limpar" value="Limpar Formulário" class="btn btn-secondary" onclick="limparCampos()">
		<input type="submit" id="botao-inscricao" value="Enviar" class="btn btn-primary">
	} 
</div>
}

