@(tarefa: Tarefa, tarefaForm: Form[Tarefa], inscricaoForm: Form[Inscricao], evento: Evento, data: String)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col", "col") }

@styles = {
    <link href="@routes.Assets.versioned("css/outros/album.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
	<link href="@routes.Assets.versioned("css/estudo1.css")" rel="stylesheet">
}

@scripts = {
	<script type="text/javascript">
		$('[name="concluidoReal"]').val(true);
	</script>
}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">@evento.getNome</h1>		
	</div>
</section>

<div class="container w-50 text-justify">
	<h1 class="text-center">Inscrição</h1>
	<div class="row text-center">
		<div class="col">
			<div class="card card-body">
				<p><i class="fas fa-dollar-sign"></i> @evento.getPreco</p>
			</div>
		</div>
	</div>	
					
	<p>Os pagamentos podem ser efetuados via cartão de crédito [Visa/MasterCard], cartão de débito, boleto bancário ou nota de empenho. Outras questões ou solicitações devem ser enviadas por email.</p>

	<p>Os pagamentos por boleto e débito encerram-se no dia @data, após esse período estarão disponíveis as formas de pagamento por cartão de crédito, nota de empenho e faturamento. Caso não possa efetuar o pagamento pelas formas citadas, poderá efetuar o pagamento em espécie na secretaria do evento.</p>

	<p>Importante: sócios da SBC têm desconto especial na inscrição para o @evento.getSigla, além de muitos outros benefícios como: desconto em inscrições em outros mais de quarenta eventos promovidos anualmente pela SBC, desconto para a compra de publicações da SBC e livros da Editora Campus/Elsevier, acesso às listas de discussão mantidas pela sociedade, recebimento da revista Computação Brasil e acesso irrestrito à Biblioteca Digital e às revistas eletrônicas mantidas pela SBC, entre muitos outros. Se você ainda não é sócio da SBC, associe-se agora mesmo clicando <a href="http://www.sbc.org.br">aqui</a>.</p>

	@b4.formCSRF(routes.ControladorEventos.mostrarInscricao,
		'role -> "form") {

		@b4.hidden( inscricaoForm("tarefa"), 'value -> tarefa.getId )
		@b4.hidden( inscricaoForm("evento"), 'value -> evento.getId )
		@b4.hidden( inscricaoForm("valor"), 'value -> "true", '_id -> "valor")
			
		<input type="submit" value="Participe" class="btn btn-primary">
	} 
</div>
}