@(tarefa: Tarefa, tarefaForm: Form[Tarefa], evento: Evento, participou: Boolean)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-4", "col-8") }

@styles = {
    <link href="@routes.Assets.versioned("css/outros/album.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
	<link href="@routes.Assets.versioned("css/estudo1.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/mascaras.js")"></script>
	<script src="@routes.Assets.versioned("js/validacao.js")"></script>
	<script src="@routes.Assets.versioned("js/formulario.js")"></script>
}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">@evento.getNome</h1>	
	</div>
</section>

<div class="container col-12 col-sm-10 col-md-8 col-lg-6">
	<h1 class="text-center">@evento.getSigla() - Certificado</h1>
	<p hidden="true" class="sigla">@evento.getSigla</p>
					@if(participou) {
						<iframe src="https://arsoluti.acsoluti.com.br/public/manuais/MPO.100_V.2_-_Manual_de_Emissao_de_Certificado_Digital_Soluti.pdf" style="width:100%; height:100%;" frameborder="0"></iframe>
					} else {
						<p>Não foram encontrados certificados vinculados ao CPF informado ou os dados informados estão incorretos. Tente novamente.</p>
					}
			
		<input type="button" id="botao-voltar" value="Voltar" class="btn btn-danger" onclick="goBack()">
		<input type="reset" id="botao-limpar" value="Limpar Formulário" class="btn btn-secondary" onclick="limparCampos()">
		<input type="submit" id="botao-inscricao" value="Enviar" class="btn btn-primary">
</div>
}

