@(tarefa: Tarefa, tarefaForm: Form[Tarefa], eventos: List[Evento])

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@styles = {
	<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
	<link href="@routes.Assets.versioned("css/estudo0.css")" rel="stylesheet" media="screen">
}

@scripts = {
}

@mainEstudo("Tarefa 1", tarefa, tarefaForm, styles, scripts) {
<div>
	<h1>Portal de Eventos</h1>
	<div class="container">
		<div class="row col-md-8 col-md-offset-2">
			<p hidden>Tarefa: <span>@tarefa.getId</span></p>
			@for(evento <- eventos) {
			<div class="col-xs-6 col-sm-4 col-md-3">
				@b3.formCSRF(routes.ControladorEventos.detalhar, 
					'id -> "tarefaform", 
					'class -> "form-horizontal thumbnail evento", 
					'role -> "form") {

					@b3.hidden( tarefaForm("cliques"), 'name -> "cliques", 'value -> tarefa.getCliques )
					@b3.hidden( tarefaForm("id"), 'value -> tarefa.getId )
					@b3.hidden( tarefaForm("evento"), 'value -> evento.getId )
						
					<input type="submit" value="@evento.getSigla" class="evento">
				}
			</div>
			}
		</div>
	</div>
</div>
<div>
	<div class="container">
		<div class="row text-center">
			<a href="#">Sobre |</a>
			<a href="#">Contato |</a>
			<a href="#">Endereço |</a>
			<a href="#">Certificados |</a>
			<a href="#">Siga-nos nas redes sociais</a>
		</div>
	</div>
</div>
}