@(tarefa: Tarefa, tarefaForm: Form[Tarefa], inscricaoForm: Form[Inscricao], evento: Evento)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-4", "col-8") }

@styles = {
	<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
	<link href="@routes.Assets.versioned("css/estudo0.css")" rel="stylesheet" media="screen">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/outros/jquery.validate.min.js")"></script>
}
							
@valores = @{ Seq(
	"true"->("R$ " + evento.getPreco.toString), 
	"true"->("2 x R$ " + (evento.getPreco/2).toString) 
)}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {
<div>
	<h1>Portal de Eventos</h1>
	<p>@session.get("cliques")</p>
	<div class="container evento-detalhes">
		<div class="col-md-6 col-md-offset-3">
			<div class="thumbnail evento-detalhes">
				<div class="caption">
					<h3>@evento.getSigla()</h3>
						<div class="col-md-12">
					<p class="text-center">
						@b4.formCSRF(routes.ControladorEstudos.fazerInscricao,
							'class -> "form-horizontal", 
							'role -> "form") {

							@b4.hidden( "id-evento", evento.getId )

							@b4.hidden( inscricaoForm("tarefa"), 'value -> tarefa.getId )
							@b4.hidden( inscricaoForm("evento"), 'value -> evento.getId )

							@b4.text( inscricaoForm("nome"), '_label -> "Nome" )
							<!-- <div class="form-group row  " id="nome_field">
								<label class="col-form-label col-md-4" for="nome">Nome</label>
								<div class="col-md-8">
								    <input type="text" id="nome" name="nome">
								</div>
							</div> -->
							@b4.text( inscricaoForm("email"), '_label -> "Email" )
							@b4.text( inscricaoForm("fone"), '_label -> "Fone" )
							@b4.text( inscricaoForm("cpf"), '_label -> "CPF" )
							@b4.text( inscricaoForm("endereco"), '_label -> "Endereço" )
							@b4.text( inscricaoForm("cidade"), '_label -> "Cidade" )
							@b4.text( inscricaoForm("numCartao"), '_label -> "Número do Cartão" )
							@b4.text( inscricaoForm("titularCartao"), '_label -> "Titular do Cartão" )
							@b4.text( inscricaoForm("validade"), '_label -> "Validade" )
							@b4.text( inscricaoForm("codigoSeguranca"), '_label -> "Código de Segurança" )
							@b4.select( inscricaoForm("valor"), options = valores, '_label -> "Parcelas", '_default -> "Selecione o número de parcelas" )
								
							<input type="submit" id="inscricao" value="Participe" class="btn btn-primary">
						} 
					</p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
}

