@(tipo : Boolean)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@titulo = @{
	
	if (!tipo) {"Estudo de Caso 0";}
	else {"Estudo de Caso 1";}
}

@main(titulo) {
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 text-justify">
    	
    	<h2 class="text-center">@titulo</h2>
    	
    	@if(!tipo) {
	    	<p>A partir de agora, você deverá completar três tarefas em sequência. A qualquer momento você pode clicar nos botões <span class="btn btn-sm btn-success">Concluir</span>, quando entender que completou a tarefa, ou <span class="btn btn-sm btn-danger">Desistir</span>. Esses botões estarão localizados no canto superior direito da sua tela.</p>
			<p> Você realizará as tarefas em um "Portal de Eventos" com uma interface com <strong>USABILIDADE PROPOSITALMENTE REDUZIDA</strong>. Nesse portal é possível ver detalhes e inscrever-se nos eventos e também emitir certificados de participação.</p>
			<p>Nenhuma dica ou orientação será dada durante a execução das tarefas.</p>
	    } else {
	    	<p>Nesta etapa, você deverá completar as mesmas três tarefas solicitadas anteriormente. A diferença é que agora você realizará as tarefas em uma interface que procura <strong>ATENDER A PRINCÍPIOS DE USABILIDADE</strong>.
    		<p>Da mesma forma que na etapa anterior, você pode clicar nos botões <span class="btn btn-sm btn-success">Concluir</span>, quando entender que completou a tarefa, ou <span class="btn btn-sm btn-danger">Desistir</span>.</p>
		}
		<p>Esta etapa chamamos de <strong>@titulo</strong>.</p>
		
		<div class="text-center">
			@if(!tipo) {
				<a href="@routes.ControladorEstudos.iniciarEstudoZero" class="btn btn-primary center-block tela-sequencia">Iniciar Estudo de Caso</a>
			} else {
				<a href="@routes.ControladorEstudos.iniciarEstudoUm" class="btn btn-primary center-block tela-sequencia">Iniciar Estudo de Caso</a>
			}
		</div>	
	</div>
</div>
}
