@(usuarioForm : Form[Usuario])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
	<link href="@routes.Assets.versioned("css/login.css")" rel="stylesheet" media="screen">
}

@scripts = {	
	<script src="@routes.Assets.versioned("js/login.js")"></script>
}

@main("Login", styles, scripts) {
<div class="row login">
   	<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4" >
		<div class="panel-body" >
			@notificacoes()
			<div class="">						
				@b4.formCSRF(routes.ControladorUsuario.entrar, 
					'id -> "loginform", 
					'class -> "form-horizontal", 
					'role -> "form") {

					@b4.email(usuarioForm("email"), 
						'_label -> "Email", 
						'placeholder -> "Seu email",
						'autocomplete -> false)

					@b4.password(usuarioForm("senha"), 
						'_label -> "Senha",
						'placeholder -> "Sua senha",
						'autocomplete -> false) 

					<div class="text-center">
						<input type="submit" value="Entrar" class="btn btn-primary">
					</div>
				}
			</div>
		</div>
	</div>  
</div>
}