@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>UsabilidadeZero - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet" media="screen">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <link href="@routes.Assets.versioned("dist/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        @styles
        
        <script src="@routes.Assets.versioned("dist/js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.versioned("js/jquery-3.3.1.min.js")"></script>
<!--         <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script> -->
        @scripts
    </head>
    <body>
        <main class="container">
            <h1 class="principal text-center"><strong>UsabilidadeZero</strong></h1>
            @content
        </main>
    </body>
</html>
