@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>UsabilidadeZero - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <!-- Icons -->
        <link href="@routes.Assets.versioned("css/outros/nucleo.css")" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!-- Theme CSS -->
        <link href="@routes.Assets.versioned("css/outros/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("css/outros/argon.min.css")" rel="stylesheet" media="screen">
        <!-- Images -->
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        <!-- Breadcrumb -->
        <link href="@routes.Assets.versioned("css/migalha.css")" rel="stylesheet" media="screen">

        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet" media="screen">
        @styles
    </head>
    <body>
        <header class="container">
            <div class="row migalha-container">
                <div class="btn-group-vertical">
                    <h3 class="titulo-migalha"><strong>UsabilidadeZero</strong></h3>
                    <div id="migalha" class="btn-group">
                        <a href="@routes.ControladorUsuario.mostrarPainel" class="btn btn-primary"><i class="fas fa-home"></i></a>
                        <div class="btn-group-vertical">
                            <div id="ec0" class="w-100 btn btn-success disabled">Estudo de Caso 0</div>
                            <div class="btn-group">
                                <div class="btn btn-sm ec0 t1 disabled">Tarefa 1</div>
                                <div class="btn btn-sm ec0 t2 disabled">Tarefa 2</div>
                                <div class="btn btn-sm ec0 t3 disabled">Tarefa 3</div>
                                <div class="btn btn-sm ec0 sus disabled">Pesquisa</div>
                                <div class="btn btn-sm ec0 relatorio disabled">Relatório</div>
                            </div>
                        </div>
                        <div class="btn-group-vertical">
                            <div id="ec1" class="w-100 btn btn-info disabled">Estudo de Caso 1</div>
                            <div class="btn-group">
                                <div class="btn btn-sm ec1 t1 disabled">Tarefa 1</div>
                                <div class="btn btn-sm ec1 t2 disabled">Tarefa 2</div>
                                <div class="btn btn-sm ec1 t3 disabled">Tarefa 3</div>
                                <div class="btn btn-sm ec1 sus disabled">Pesquisa</div>
                                <div class="btn btn-sm ec1 relatorio disabled">Relatório</div>
                            </div>
                        </div>
                        <a href="@routes.ControladorUsuario.mostrarPainel" class="btn btn-light final"><i class="fas fa-flag-checkered"></i></a>
                    </div>
                </div>
            </div>
        </header>
        @content
        <script src="@routes.Assets.versioned("js/outros/jquery.min.js")"></script>
		<script src="@routes.Assets.versioned("js/outros/popper.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/argon.min.js")"></script>
        <script src="@routes.Assets.versioned("js/migalha.js")"></script>
        @scripts
    </body>
</html>
