@(title: String, tarefa: Tarefa, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.ControladorEstudos.adicionaCliquesTarefa,
	routes.javascript.ControladorEstudos.concluirTarefa
)

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>UsabilidadeZero - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("css/outros/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("css/outros/argon.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        @styles
    </head>
    <body>
    	<header class="navbar navbar-expand-lg navbar-dark bg-default headroom">
    		<div class="container">
	    		<div class="row">
	    			<div class="col-md-2">
			    		<span class="navbar-brand mb-0 h1">Tarefa 1</span>
	    			</div>
	    			<div class="col-md-8">
	    				<h4>Você deve descobrir o valor de inscrição do próximo 
	    				"Simpósio Brasileiro de Fatores Humanos em Sistemas Computacionais"</h4>
	    			</div>
	    			<div class="col-md-2 text-right">
	    				<button id="concluir-tarefa" class="btn btn-sm btn-success">Concluir</button>
	    				<button id="desistir-tarefa" class="btn btn-sm btn-danger">Desistir</button>
	    			</div>
	    		</div>
    		</div>
		</header>
		<main>
			@content
		</main>
        <footer>
            <div class="container">
                <div class="row text-center">
                	<p>Tarefa: <span id="id-tarefa">@tarefa.getId</span></p>
                    <p>Cliques: <span id="contador">0</span></p>
                </div>
            </div>
        </footer>
        <script src="@routes.Assets.versioned("js/outros/jquery-3.3.1.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/argon.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/headroom.min.js")"></script>
		<script src="@routes.Assets.versioned("js/tarefa.js")"></script>
        @scripts
    </body>
</html>
