@(title: String, tarefa: Tarefa, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.ControladorEstudos.adicionaCliquesTarefa,
	routes.javascript.ControladorEstudos.concluirTarefa
)

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>UsabilidadeZero - @title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <!-- Core CSS -->
        <link href="@routes.Assets.versioned("css/outros/bootstrap.min.css")" rel="stylesheet">
        <!-- Imagens -->
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        <!-- CSS Personalizado -->
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
        @styles
    </head>
    <body>
        <header>
            <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        		<div class="container">
    	    		<div class="row">
    	    			<div class="col-1">
    			    		<h1 class="navbar-brand mb-0">Tarefa 1</h1>
    	    			</div>
    	    			<div class="col-8">
    	    				<span class="text-light">Você deve descobrir o valor de inscrição do próximo 
    	    				"Simpósio Brasileiro de Fatores Humanos em Sistemas Computacionais"</span>
    	    			</div>
    	    			<div class="col text-right">
    	    				<button id="concluir-tarefa" class="btn btn-sm btn-success">Concluir</button>
    	    				<button id="desistir-tarefa" class="btn btn-sm btn-danger">Desistir</button>
    	    			</div>
    	    		</div>
        		</div>
            </div>
		</header>
		<main role="main">
			@content
		</main>
        <footer>
            <div class="container">
                <div class="row text-center">
                	<p>Tarefa: <span id="id-tarefa">@tarefa.getId</span></p>
                    <p>Cliques: <span id="contador">0</span></p>
                </div>
            </div>
        </footer>
        <script src="@routes.Assets.versioned("js/outros/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/popper.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/bootstrap.min.js")"></script>
		<script src="@routes.Assets.versioned("js/tarefa.js")"></script>
        @scripts
    </body>
</html>
