@(tarefa: Tarefa, tarefaForm: Form[Tarefa], styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col", "col") }

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.ControladorEstudos.adicionaCliquesTarefa,
	routes.javascript.ControladorEstudos.setConcluido
)

@tipoTarefa = @{
    
    tarefa.getCodigo match {

        case "EC01" | "EC11" => "Tarefa 1"
        case "EC02" | "EC12" => "Tarefa 2"
        case "EC03" | "EC13" => "Tarefa 3"
    }
}

@descricaoTarefa = @{
    
    tarefa.getCodigo match {

        case "EC01" | "EC11" => "Você deve descobrir o valor de inscrição do próximo \"Simpósio Brasileiro de Fatores Humanos em Sistemas Computacionais\"";

        case "EC02" | "EC12" => "Você deve fazer a sua inscrição no \"Simpósio Brasileiro de Qualidade de Software\" utilizando os dados disponíveis <a data-toggle=\"collapse\" href=\"#persona1\" tabindex=\"-1\">aqui</a>.";

        case "EC03" | "EC13" => "Você deve emitir certificado de participação no último evento em Engenharia de Software utilizando os dados disponíveis <a data-toggle=\"collapse\" href=\"#persona2\" tabindex=\"-1\">aqui</a>.";
    }
}

@tipoEstudo = @{
    
    tarefa.getCodigo match {

        case "EC01" | "EC02" | "EC03" => false
        case "EC11" | "EC12" | "EC13" => true
    }
}

<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>UsabilidadeZero - @tipoTarefa</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <!-- Core CSS -->
        <link href="@routes.Assets.versioned("css/outros/bootstrap.min.css")" rel="stylesheet">
        <!-- Imagens -->
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        <!-- CSS Personalizado -->
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
        @styles
    </head>
    <body>
        <header>
            <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        		<div class="container">
    	    		<div class="row align-items-center">
    	    			<div class="col-auto">
    			    		<h1 class="navbar-brand mb-0">@tipoTarefa</h1>
    	    			</div>
    	    			<div class="col">
    	    				<span class="text-light">@Html(descricaoTarefa)</span>
    	    			</div>
    	    			<div class="col-auto text-right">
                            <div class="row">
                                <div class="col"> 
                                    @b4.formCSRF(routes.ControladorEstudos.concluirTarefa,
                                        'role -> "form") {

                                        @b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
                                        @b4.hidden( tarefaForm("codigo"), 'value -> tarefa.getCodigo )
                                        @b4.hidden( tarefaForm("concluidoReal"), 'value -> "false", '_id -> "concluidoReal")                                

                                        <button id="concluir-tarefa" class="btn btn-sm btn-success" tabindex="-1">Concluir</button>
                                    }
                                </div>
                                <div class="col"> 
                                    @b4.formCSRF(routes.ControladorEstudos.desistirTarefa,
                                        'role -> "form") {

                                        @b4.hidden( tarefaForm("id"), 'value -> tarefa.getId )
                                        @b4.hidden( tarefaForm("evento"), 'value -> tarefa.getEvento )
                                        @b4.hidden( tarefaForm("concluidoReal"), 'value -> "false", '_id -> "concluidoReal")                                

                                        <button id="desistir-tarefa" class="btn btn-sm btn-danger" tabindex="-1">Desistir</button>
                                    }
                                </div>
                            </div>
    	    			</div>
    	    		</div>
        		</div>
            </div>
            <div class="navbar fixed-bottom bg-light collapse" id="persona1">
                <p><strong>Número do Cartão: </strong>4609 8687 6694 4752</p>
                <p><strong>Titular: </strong>"Escreva o seu nome"</p>
                <p><strong>Validade: </strong>09/2030</p>
                <p><strong>Código de Segurança: </strong>902</p>
            </div>
            <div class="navbar fixed-bottom bg-light collapse" id="persona2">
                <p><strong>Nome: </strong>Martin Fowler</p>
                <p><strong>Email: </strong>martin&#64;martinfowler.com</p>
                <p><strong>CPF: </strong>683.563.770-64</p>
                <p><strong>Senha: </strong>1234</p>
            </div>
		</header>
		<main role="main">
			@content
		</main>
        <footer>
            <div hidden="true" class="container">
                <div class="row text-center">
                	<p>Tarefa: <span id="id-tarefa">@tarefa.getId</span></p>
                    <p>Cliques: <span id="contador">0</span></p>
                </div>
            </div>
        </footer>
        <script src="@routes.Assets.versioned("js/outros/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/popper.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("js/outros/jquery.appear.js")"></script>
		<script src="@routes.Assets.versioned("js/contador-cliques.js")"></script>
        @scripts
        <script src="@routes.Assets.versioned("js/tarefa.js")"></script>
    </body>
</html>
