@(estudoForm : Form[Estudo], conteudo: Html = Html(""))

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@import helper._

@main("Painel") {
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 text-justify">

        <p>Esta é uma aplicação que tem como objetivo servir de auxílio ao ensino de <strong>usabilidade</strong>. Aqui você poderá ver a diferença entre um sistema que não observa os princípios de usabilidade de outro que tenta usar esses princípios para tornar a experiência do usuário mais agradável.</p>

        <p>Primeiramente, você será solicitado a completar 3 tarefas no sistema de baixa usabilidade e avaliar o sistema. Em seguida, você será solicitado a completar as mesmas tarefas, mas desta vez no sistema com alta usabilidade. Você também deverá preencher o questionário de satisfação para essas últimas tarefas para que o relatório seja apresentado.</p>

        <p> Em cada etapa você deve preencher um questionário de satisfação, bem como terá acesso a algumas medidas de usabilidade da sua experiência no uso.</p>
        
        <p>Ao final, você poderá comparar a diferença entre a realização das tarefas em cada um dos sistemas.</p>

        <p>É importante lembrar que os aspectos de usabilidade medidos <strong>NÃO REPRESENTAM UMA AVALIAÇÃO DO USUÁRIO</strong>, mas do sistema.</p>
        
        <div class="text-center">
            @b4.formCSRF(routes.HomeController.mostrarInstrucoes, 
                'id -> "iniciarForm", 
                'class -> "form-horizontal", 
                'role -> "form") {

                @b4.hidden( estudoForm("tipo"), 'value -> false )
                
                <input type="submit" value="Iniciar" class="btn btn-primary center-block tela-sequencia">
            }
        </div>
    </div>
</div>
}