@(usuarios : List[Usuario])

@implicitField = @{ FieldConstructor(campo.f) }

@import helper._

@styles = {
	<link href="@routes.Assets.versioned("css/principal.css")" rel="stylesheet" media="screen">
}

@scripts = {	
	<script src="@routes.Assets.versioned("js/principal.js")"></script>
}

@main("Novo usuario", styles, scripts) {
<div class="row">
    <div class="col-md-2">
        <nav class="nav-sidebar">
            <ul class="nav">
                <li class="active"><a href="javascript:;">Executar</a></li>
                <li><a href="javascript:;">Estudo de Caso 0</a></li>
                <li><a href="javascript:;">Estudo de Caso 1</a></li>
                <li class="active"><a href="javascript:;">Ajuda</a></li>
                <li><a href="javascript:;">Como usar</a></li>
                <li><a href="javascript:;">Sobre</a></li>
                <li class="nav-divider"></li>
                <li class="active"><a href="@routes.ControladorUsuario.sair"><i class="glyphicon glyphicon-off"></i> Sair</a></li>
            </ul>
        </nav>
    </div>
	<div class="col-md-10">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Meus Resultados</h3>
				<div class="pull-right">
					<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
						<i class="glyphicon glyphicon-filter"></i>
					</span>
				</div>
			</div>
			<div class="panel-body">
				<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
			</div>
			@if(usuarios.isEmpty) {
				<h3>Sem usuarios</h3>
			} else {
				<table class="table table-hover" id="dev-table">	
					<thead>
						<tr>
							<th>Agrupar</th>
							<th>EC</th>
							<th>Data</th>
							<th>Usuário</th>
						</tr>
					</thead>							
					<tfoot>
						@for(usuario <- usuarios) {
							<tr>
								<td style="text-align: center;"><input type="checkbox" name="remember" value="1"></td>
								<td>@usuario.getEmail()</td>
								<td>@usuario.getSenha()</td>
							</tr>
						}
					</tfoot>
				</table>
			}
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Resultados Compartilhados</h3>
				<div class="pull-right">
					<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
						<i class="glyphicon glyphicon-filter"></i>
					</span>
				</div>
			</div>
			<div class="panel-body">
				<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
			</div>
			@if(usuarios.isEmpty) {
				<h3>Sem usuarios</h3>
			} else {
				<table class="table table-hover" id="dev-table">	
					<thead>
						<tr>
							<th>Agrupar</th>
							<th>EC</th>
							<th>Data</th>
							<th>Usuário</th>
						</tr>
					</thead>							
					<tfoot>
						@for(usuario <- usuarios) {
							<tr>
								<td style="text-align: center;"><input type="checkbox" name="remember" value="1"></td>
								<td>@usuario.getEmail()</td>
								<td>@usuario.getSenha()</td>
							</tr>
						}
					</tfoot>
				</table>
			}
		</div>		
		<div style="margin-top:10px" class="form-group">
			<div class="col-sm-3 col-md-3"></div>
			<div class="col-sm-2 col-md-2 controls">
				<input type="submit" value="Visualizar" class="btn btn-primary btn-block">
			</div>
			<div class="col-sm-2 col-md-2"></div>
			<div class="col-sm-2 col-md-2 controls">
				<input type="submit" value="Compartilhar" class="btn btn-primary btn-block">
			</div>
		</div> 				
	</div>
</div>
}