@(eventos: List[Evento])

@styles = {
<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
<link href="@routes.Assets.versioned("css/estudoDeCaso0.css")" rel="stylesheet" media="screen">
}

@estudoDeCaso("Tarefa 1", styles) {
<main>
	<h1>Portal de Eventos</h1>
	<div class="container">
		<div class="row col-md-8 col-md-offset-2">
			@for(evento <- eventos) {
			<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="@routes.ControladorEventos.detalhar(evento.getId())" class="thumbnail evento">
					<h4>@evento.getSigla()</h4>
				</a>
			</div>
			}
		</div>
	</div>
</main>
<footer>
	<div class="container">
		<div class="row text-center">
			<a href="#">Sobre |</a>
			<a href="#">Contato |</a>
			<a href="#">Endereço |</a>
			<a href="#">Certificados |</a>
			<a href="#">Siga-nos nas redes sociais</a>
		</div>
	</div>
</footer>
}