@(relatorio0: RelatorioEstudo, relatorio1: RelatorioEstudo, estudoForm: Form[Estudo])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
    <link href="@routes.Assets.versioned("css/relatorio.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/concluir-tarefa.js")"></script>
}

@titulo = @{"Relatório Final"}

@tempo(entrada: Long) = @{

	val horas = (entrada / 3600);
    val minutos = ((entrada % 3600) / 60);
    val segundos = (entrada % 60);

    if (horas > 0) {horas + "h " + minutos + "min " + segundos + "s";}
    else if (minutos > 0) {minutos + "min " + segundos + "s";} 
    else {segundos + "s";}
}

@mainCaminho(titulo, styles, scripts) {
<div class="container">
	<p id="estudo" hidden="true">tipoEstudo</p>
	<p id="tarefa" hidden="true">final</p>

<div id="tabela" class="container">
	<h3 class="text-center">@titulo</h3>
	<table class="table table-sm text-center">
		<thead>
			<tr class="thead-light">
				<th colspan="2"></th>
				<th>EC0</th>
				<th>EC1</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th rowspan="2" class="align-middle">Eficiência</th>
				<th>Cliques</th>
				<td>@relatorio0.getCliques</td>
				<td>@relatorio1.getCliques</td>
			</tr>
			<tr>
				<th>Tempo</th>
				<td>@tempo(relatorio0.getTempo)</td>
				<td>@tempo(relatorio1.getTempo)</td>
			</tr>
			<tr>
				<th rowspan="2" class="align-middle">Eficácia</th>
				<th>Percebida</th>
				<td>@relatorio0.getPercebida%</td>
				<td>@relatorio1.getPercebida%</td>
			</tr>
			<tr>
				<th>Verificada</th>
				<td>@relatorio0.getMedida%</td>
				<td>@relatorio1.getMedida%</td>
			</tr>
			<tr>
				<th>Satisfação</th>
				<td></td>
				<td>@relatorio0.getSatisfacao pts</td>
				<td>@relatorio1.getSatisfacao pts</td>
			</tr>
		</tbody>
	</table>
	<h3 class="text-center">Avaliação</h3>
	<ul>
		<li><p><strong>Eficiência: </strong>
			@if(relatorio0.getCliques>relatorio1.getCliques) {
				Você deu mais cliques no Estudo de Caso 0
			} else if(relatorio0.getCliques<relatorio1.getCliques) {
				Você deu mais cliques no Estudo de Caso 1
			} else {
				Você deu a mesma quantidade de cliques nos dois estudos de caso
			}
			@if(relatorio0.getTempo>relatorio1.getTempo) {
				e levou mais tempo para terminar o Estudo de Caso 0
			} else if(relatorio0.getTempo<relatorio1.getTempo){
				e levou mais tempo para terminar o Estudo de Caso 1
			} else {
				e levou o mesmo tempo para terminar os dois estudos de caso
			}.</p>
			<ul>
				<li><p>
					@if(relatorio0.getCliques>relatorio1.getCliques) {
						@if(relatorio0.getTempo<relatorio1.getTempo) {
							Não é possível concluir em qual estudo de caso a eficiência foi maior.
						} else {
							A eficiência foi <strong>maior</strong> no Estudo de Caso 1.
						} 
					} else if(relatorio0.getTempo<relatorio1.getTempo) {
						@if(relatorio0.getCliques>relatorio1.getCliques) {
							Não é possível concluir em qual estudo de caso a eficiência foi maior.
						} else {
							A eficiência foi <strong>maior</strong> no Estudo de Caso 0.
						}
					}
				</p></li>
			</ul>
		</li>
		<li><p><strong>Eficicácia: </strong>Você terminou @relatorio0.getMedida% das tarefas no Estudo de Caso 0 e @relatorio1.getMedida% das tarefas no Estudo de Caso 1.</p>
			<ul>
				<li><p>
					@if(relatorio0.getMedida>relatorio1.getMedida) {
						A eficácia foi <strong>maior</strong> no Estudo de Caso 0.
					} else if(relatorio0.getMedida<relatorio1.getMedida) {
						A eficácia foi <strong>maior</strong> no Estudo de Caso 1.
					} else {
						Não é possível concluir em qual estudo de caso a eficácia foi maior.
					}
				</p></li>
			</ul>
		</li>
		<li><p><strong>Satisfação: </strong>Você se sentiu melhor fazendo o Estudo de Caso @if(relatorio0.getSatisfacao>relatorio1.getSatisfacao){0}else{1}.</p>
			<ul>
				<li><p>
					@if(relatorio0.getSatisfacao>relatorio1.getSatisfacao) {
						A satisfação foi <strong>maior</strong> no Estudo de Caso 0.
					} else if(relatorio0.getSatisfacao<relatorio1.getSatisfacao) {
						A satisfação foi <strong>maior</strong> no Estudo de Caso 1.
					} else {
						Não é possível concluir em qual estudo de caso a satisfação foi maior.
					}
				</p></li>
			</ul>
		</li>
	</ul>
	@b4.formCSRF(routes.ControladorUsuario.mostrarPainel, 
		'id -> "loginform", 
		'class -> "form-horizontal", 
		'role -> "form") {

		@b4.hidden( estudoForm("tipo"), 'value -> "true" )

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Agora você pode voltar ao questionário.</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-footer">
				<input type="submit" value="OK" class="btn btn-primary center-block tela-sequencia" data-toggle="modal" data-target="#exampleModal">
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="row justify-content-center">
			<button type="button" class="btn btn-primary center-block tela-sequencia" data-toggle="modal" data-target="#exampleModal">Terminar Estudo</button>
		</div>
	}
</div>
}