@(tarefas: List[Tarefa], estudo: Estudo, estudoForm: Form[Estudo])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
    <link href="@routes.Assets.versioned("css/relatorio.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/concluir-tarefa.js")"></script>
}

@titulo = @{
    
    if (estudo.isTipo) {"Estudo de Caso 1";}
    else {"Estudo de Caso 0";}
}

@tempoTarefa(entrada: Tarefa) = @{

	val tempoTotal = (entrada.getFim.getTime - entrada.getInicio.getTime)/1000;
	
	val horas = (tempoTotal / 3600);
    val minutos = ((tempoTotal % 3600) / 60);
    val segundos = (tempoTotal % 60);

    if (horas > 0) {horas + "h " + minutos + "min " + segundos + "s";}
    else if (minutos > 0) {minutos + "min " + segundos + "s";} 
    else {segundos + "s";}
}

@tempoTotal(entrada: Long) = @{

	val horas = (entrada / 3600);
    val minutos = ((entrada % 3600) / 60);
    val segundos = (entrada % 60);

    if (horas > 0) {horas + "h " + minutos + "min " + segundos + "s";}
    else if (minutos > 0) {minutos + "min " + segundos + "s";} 
    else {segundos + "s";}
}

@mainCaminho(titulo, styles, scripts) {
<p id="estudo" hidden="true">@estudo.isTipo</p>
<p id="tarefa" hidden="true">relatorio</p>

<div id="tabela" class="container">
	<h2 class="text-center">@titulo</h2>
	<table class="table table-sm table-borderless table-hover text-center">
		<tbody>
			<tr class="thead-light">
				<th colspan="5" class="text-left"><h5>Resultado por tarefa</h5></th>
			</tr>
			<tr>
				<th></th>
				<th colspan="2">Eficiência</th>
				<th colspan="2">Eficácia</th>
			</tr>
			<tr>
				<th></th>
				<th>Tempo</th>
				<th>Cliques</th>
				<th>Percebida</th>
				<th>Real</th>
			</tr>
			@for(tarefa <- tarefas) {
			<tr>
				<th>@{tarefa.getCodigo match {
					case "EC01" | "EC11" => "Tarefa 1"
					case "EC02" | "EC12" => "Tarefa 2"
					case "EC03" | "EC13" => "Tarefa 3"}}</th>
				<td>@tempoTarefa(tarefa)</td>
				<td>@tarefa.getCliques</td>
				<td>@if(tarefa.isConcluidoPercebido) {
						<i class="fas fa-check-circle"></i>
					} else {
						<i class="fas fa-times-circle"></i>
					}</td>
				<td>@if(tarefa.isConcluidoReal) {
						<i class="fas fa-check-circle"></i>
					} else {
						<i class="fas fa-times-circle"></i>
					}</td>
			</tr>
			}
			<tr class="thead-light">
				<th colspan="5" class="text-left"><h5>Resultado por critério de usabilidade</h5></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th rowspan="2">Eficiência</th>
				<th>Cliques</th>
				<td>@estudo.getRelatorio.getCliques</td>
			</tr>
			<tr>
				<th>Tempo</th>
				<td>@tempoTotal(estudo.getRelatorio.getTempo)</td>
			</tr>
			<tr>
				<th rowspan="2">Eficácia</th>
				<th>Percebida</th>
				<td>@estudo.getRelatorio.getPercebida%</td>
			</tr>
			<tr>
				<th>Medida</th>
				<td>@estudo.getRelatorio.getMedida%</td>
			</tr>
			<tr>
				<th>Satisfação</th>
				<td></td>
				<td>@estudo.getRelatorio.getSatisfacao pts</td>
			</tr>
		</tbody>
	</table>
	@b4.formCSRF(routes.ControladorEstudos.mostrarEstudo, 
		'id -> "loginform", 
		'class -> "form-horizontal", 
		'role -> "form") {

		@b4.hidden( estudoForm("id"), 'value -> estudo.getId )
		
		<a role="button" class="btn btn-outline-secondary center-block" href="@routes.ControladorUsuario.mostrarPainel">Página Inicial</a>
		<input type="submit" value="@if(!estudo.isTipo){Próximo Estudo de Caso}else{Relatório Final}" class="btn btn-primary center-block">
	}
</div>
}