@(tarefa: Tarefa, tarefaForm: Form[Tarefa], tarefas: List[Tarefa], estudoForm: Form[Estudo])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link href="@routes.Assets.versioned("css/relatorio.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/concluir-tarefa.js")"></script>
}

@tempo(entrada: Tarefa) = @{

	val tempoTotal = (entrada.getDataHoraFim.getTime - entrada.getDataHoraInicio.getTime)/1000;
	
	val horas = (tempoTotal / 3600);
    val minutos = ((tempoTotal % 3600) / 60);
    val segundos = (tempoTotal % 60);

    if (horas > 0) {
    	
    	horas + "h " + minutos + "min " + segundos + "s";

    } else if (minutos > 0) {

    	minutos + "min " + segundos + "s";

    } else {

    	segundos + "s";
    }
}

@mainEstudo(tarefa, tarefaForm, styles, scripts) {

<div id="tabela" class="container w-50">
	<h3 class="text-center">Relatório</h3>
	<table class="table table-hover text-center">
		<thead>
			<th>ID Tarefa</th>
			<th>Tempo</th>
			<th>Cliques</th>
			<th>Concluído Percebido</th>
			<th>Concluído Real</th>
		</thead>
		<tbody>
			@for(tarefa <- tarefas) {
			<tr>
				<td>@tarefa.getCodigo</td>
				<td>@tempo(tarefa)</td>
				<td>@tarefa.getCliques</td>
				<td>@tarefa.isConcluidoPercebido</td>
				<td>@tarefa.isConcluidoReal</td>
			</tr>
			}
		</tbody>
	</table>
	@b4.formCSRF(routes.ControladorEstudos.iniciarEstudoDeCaso, 
		'id -> "loginform", 
		'class -> "form-horizontal", 
		'role -> "form") {

		@b4.hidden( estudoForm("tipo"), 'value -> tarefa.getEstudo.isTipo )
		
		<input type="submit" value="Próxima Tarefa" class="btn btn-primary center-block">
	}
</div>
}