@(satisfacao: Long, tarefas: List[Tarefa], tipoEstudo: Boolean, estudoForm: Form[Estudo])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
    <link href="@routes.Assets.versioned("css/relatorio.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/concluir-tarefa.js")"></script>
}

@titulo = @{
    
    if (tipoEstudo) {"Relatório Final";}
    else {"Relatório Parcial";}
}

@tempo(entrada: Tarefa) = @{

	val tempoTotal = (entrada.getDataHoraFim.getTime - entrada.getDataHoraInicio.getTime)/1000;
	
	val horas = (tempoTotal / 3600);
    val minutos = ((tempoTotal % 3600) / 60);
    val segundos = (tempoTotal % 60);

    if (horas > 0) {horas + "h " + minutos + "min " + segundos + "s";}
    else if (minutos > 0) {minutos + "min " + segundos + "s";} 
    else {segundos + "s";}
}

@mainCaminho(titulo, styles, scripts) {
<div class="container">
	<p id="estudo" hidden="true">@tipoEstudo</p>
	<p id="tarefa" hidden="true">relatorio</p>

<div id="tabela" class="container">
	<h3 class="text-center">@titulo</h3>
	<table class="table table-sm table-borderless table-hover text-center">
		<thead>
			<tr class="thead-light">
				<th></th>
				<th colspan="2">Eficiência</th>
				<th colspan="2">Eficácia</th>
			</tr>
			<tr>
				<th></th>
				<th>Tempo</th>
				<th>Cliques</th>
				<th>Percebida</th>
				<th>Real</th>
			</tr>
		</thead>
		<tbody>
			@for(tarefa <- tarefas) {
			<tr>
				<th>@{tarefa.getCodigo match {
					case "EC01" | "EC11" => "Tarefa 1"
					case "EC02" | "EC12" => "Tarefa 2"
					case "EC03" | "EC13" => "Tarefa 3"}}</th>
				<td>@tempo(tarefa)</td>
				<td>@tarefa.getCliques</td>
				<td>@if(tarefa.isConcluidoPercebido) {
						<i class="fas fa-check-circle"></i>
					} else {
						<i class="fas fa-times-circle"></i>
					}</td>
				<td>@if(tarefa.isConcluidoReal) {
						<i class="fas fa-check-circle"></i>
					} else {
						<i class="fas fa-times-circle"></i>
					}</td>
			</tr>
			}
			<tr>
				<th>Satisfação</th>
				<td>@satisfacao pts</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	@b4.formCSRF(routes.ControladorEstudos.mostrarEstudo, 
		'id -> "loginform", 
		'class -> "form-horizontal", 
		'role -> "form") {

		@b4.hidden( estudoForm("tipo"), 'value -> "true" )
		
		<a role="button" class="btn btn-secondary center-block" href="@routes.ControladorUsuario.mostrarPainel">Página Inicial</a>
		<input type="submit" value="Próxima Tarefa" class="btn btn-primary center-block">
	}
</div>
}