@(tarefa: Tarefa, tarefaForm: Form[Tarefa], tipoEstudo: Boolean, estudoForm: Form[Estudo])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@styles = {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
    <link href="@routes.Assets.versioned("css/relatorio.css")" rel="stylesheet">
}

@scripts = {
	<script src="@routes.Assets.versioned("js/concluir-tarefa.js")"></script>
}

@numTarefa = @{

	tarefa.getCodigo match {
		case "EC01" | "EC11" => "1"
		case "EC02" | "EC12" => "2"
		case "EC03" | "EC13" => "3"}
}

@tempo(entrada: Tarefa) = @{

	val tempoTotal = (entrada.getFim.getTime - entrada.getInicio.getTime)/1000;
	
	val horas = (tempoTotal / 3600);
    val minutos = ((tempoTotal % 3600) / 60);
    val segundos = (tempoTotal % 60);

    if (horas > 0) {horas + "h " + minutos + "min " + segundos + "s";}
    else if (minutos > 0) {minutos + "min " + segundos + "s";} 
    else {segundos + "s";}
}

@mainCaminho(numTarefa, styles, scripts) {
<p id="estudo" hidden="true">@tipoEstudo</p>
<p id="tarefa" hidden="true">@numTarefa</p>

<div id="tabela container">
	<div class="row justify-content-center">
		<div class="">
			<h3 class="text-center">Resultado Tarefa @numTarefa</h3>
			<table class="table table-sm table-borderless table-hover text-center">
				<tbody>
					<tr class="thead-light">
						<th colspan="2">Eficiência</th>
					</tr>
					<tr>
						<th>Tempo</th>
						<td>@tempo(tarefa)</td>
					<tr>
						<th>Cliques</th>
						<td>@tarefa.getCliques</td>
					</tr>
					<tr class="thead-light">
						<th colspan="2">Eficácia</th>
					</tr>
						<th>Percebida</th>
						<td>@if(tarefa.isConcluidoPercebido) {
								<i class="fas fa-check-circle"></i>
							} else {
								<i class="fas fa-times-circle"></i>
							}</td>
					</tr>
					<tr>
						<th>Real</th>
						<td>@if(tarefa.isConcluidoReal) {
								<i class="fas fa-check-circle"></i>
							} else {
								<i class="fas fa-times-circle"></i>
							}</td>
					</tr>
				</tbody>
			</table>
			@b4.formCSRF(routes.ControladorEstudos.continuarEstudo, 
				'id -> "loginform", 
				'class -> "form-horizontal", 
				'role -> "form") {

				@b4.hidden( estudoForm("tipo"), 'value -> tarefa.getEstudo.isTipo )
				
				<a role="button" class="btn btn-danger center-block tela-sequencia" href="@routes.ControladorUsuario.mostrarPainel">Terminar Estudo</a>
				<input type="submit" value="@if(numTarefa=="3"){Iniciar Pesquisa}else{Próxima Tarefa}" class="btn btn-primary center-block tela-sequencia">
			}
		</div>
	</div>
</div>
}