@(titulo : String, estudos : List[Estudo])

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">@titulo</h3>
		<div class="pull-right">
			<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
				<i class="glyphicon glyphicon-filter"></i>
			</span>
		</div>
	</div>
	<div class="panel-body">
		<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
	</div>
	@if(estudos.isEmpty) {
		<h3>Sem estudos</h3>
	} else {
		<table class="table table-hover" id="dev-table">	
			<thead>
				<tr>
					<th style="text-align: center;">Agrupar</th>
					<th style="text-align: center;">EC</th>
					<th>Data</th>
					<th>Usuário</th>
				</tr>
			</thead>							
			<tfoot>
				@for(estudo <- estudos) {
					<tr>
						<td style="text-align: center;"><input type="checkbox" name="remember" value="1"></td>
						@if(estudo.isTipo) {
							<td style="text-align: center;">EC1</td>
						} else {
							<td style="text-align: center;">EC0</td>
						}
						<td>@estudo.getData</td>
						<td>@estudo.getUsuario.getEmail</td>
					</tr>
				}
			</tfoot>
		</table>
	}
</div>