@(estudo: Estudo, susForm: Form[Sus])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@import helper._

@titulo = @{
    
    "SUS"	
}

@main(titulo) {
<div class="container w-50 text-center">
	<p id="estudo" hidden="true">@estudo.isTipo</p>
	<p id="tarefa" hidden="true">@tarefa</p>
   	<h2>SUS</h2>
 	<h5>Pesquisa</h5>

	@b4.formCSRF(routes.ControladorEstudos.iniciarTarefa, 
		'id -> "susForm", 
		'class -> "form-horizontal", 
		'role -> "form") {

		@b4.hidden( susForm("id"), 'value -> estudo.getId )

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">
            <label class="form-check-label" for="inlineRadio3">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option3">
            <label class="form-check-label" for="inlineRadio3">5</label>
        </div>
    } 
</div>
}