@(estudo: Estudo, estudoForm: Form[Estudo])

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@import helper._

@main("Tarefa 1") {
<div class="container w-50 text-center">
   	<h2>Tarefa 1</h2>
 	<h5>Você deve descobrir o valor de inscrição do próximo "Simpósio Brasileiro de Fatores Humanos em Sistemas Computacionais"</h5>

	@b4.formCSRF(routes.ControladorEstudos.iniciarTarefa1, 
		'id -> "estudoform", 
		'class -> "form-horizontal", 
		'role -> "form") {

		@b4.hidden( estudoForm("id"), 'value -> estudo.getId )

		<input type="submit" value="Iniciar" class="btn btn-primary">
	}
</div>
}