@(estudo: Estudo, estudoForm: Form[Estudo], tarefa: Long)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@import helper._

@main("Tarefa 3") {
<div class="container w-50 text-center">
	<p id="estudo" hidden="true">@estudo.isTipo</p>
	<p id="tarefa" hidden="true">@tarefa</p>
	<h2>Tarefa 3</h2>
	<h5>Você deve fazer a inscrição no evento encontrado com o respectivo pagamento</h5>

	@b4.formCSRF(routes.ControladorEstudos.iniciarTarefa, 
		'id -> "estudoform", 
		'class -> "form-horizontal", 
		'role -> "form") {

		@b4.hidden( estudoForm("id"), 'value -> estudo.getId )

		<input type="submit" value="Iniciar" class="btn btn-primary">
	}
</div>
}