@(estudo: Estudo, estudoForm: Form[Estudo], usuario: Usuario)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@import helper._

@main("Tarefa 2") {
<div class="row">
   	<div class="container text-center">
   		<div class="col-md-6 col-md-offset-3">
	   		<h2>Tarefa 2</h2>
	 		<h4>Você deve fazer a inscrição no evento encontrado com o respectivo pagamento</h4>

			@b3.form(action=helper.CSRF(routes.ControladorEstudos.iniciarTarefa1), 
				'id -> "estudoform", 
				'class -> "form-horizontal", 
				'role -> "form") {

				@b3.hidden( estudoForm("id"), 'value -> estudo.getId )

				<input type="submit" value="Iniciar" class="btn btn-primary">
			}
		</div>
	</div>
</div>
}