@(tarefa: Tarefa, tarefaForm: Form[Tarefa], evento: Evento)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@styles = {
<link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
<link href="@routes.Assets.versioned("css/estudoDeCaso0.css")" rel="stylesheet" media="screen">
}

@estudoDeCaso("Tarefa 1", tarefa.getCliques, styles) {
<div>
	<h1>Portal de Eventos</h1>
	<p>@session.get("cliques")</p>
	<div class="container evento-detalhes">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="thumbnail evento-detalhes">
				<div class="caption">
					<h3>@evento.getSigla()</h3>
					@Html(evento.getDescricao())
					<p class="text-center">
						<a href="#" class="btn btn-primary" role="button">Participe</a> 
						@b3.form(action=helper.CSRF(routes.ControladorEventos.mostrarPrograma), 
							'id -> "tarefaform", 
							'class -> "form-horizontal", 
							'role -> "form") {

							@b3.hidden( tarefaForm("cliques"), 'name -> "cliques", 'value -> tarefa.getCliques )
							@b3.hidden( tarefaForm("id"), 'value -> tarefa.getId )
							@b3.hidden( tarefaForm("evento"), 'value -> evento.getId )
								
							<input type="submit" value="Programa" class="btn btn-success">
						}
						<a href="@routes.ControladorEventos.mostrarLocal(evento.getId())" class="btn btn-info" role="button">Local</a>
						<a href="@routes.ControladorEventos.mostrarInformacoes(evento.getId())" class="btn btn-warning" role="button">Mais Informações</a>
						<a href="@routes.ControladorEventos.mostrarPagamento(evento.getId())" class="btn btn-danger" role="button">Pagamento</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
}

